.hidden {
  padding: 0px;
    border: none; 
   margin: 0px;
   height: 0px;
    width: 0px;
  overflow: hidden;
  }

td {
  height: 30px;
  width: 30px;
  text-align: center;
  border: solid;
}

#main {
  border: solid black;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 25px;
}

body {
  text-align: center;
  background: url() fixed center no-repeat;
  background-size: cover;
}

table { 
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
