.hidden {
  padding: 0px;
    border: none; 
   margin: 0px;
   height: 0px;
    width: 0px;
  overflow: hidden;
  }

td {
  height: 60px;
  width: 60px;
  text-align: center;
  border: solid;
  font-size: 40px;
}

#main {
  height: 400px;
  width: 400px;
  margin: 0 auto;

  padding-top: 25px;
}

body {
  font-size: 30px;
  text-align: center;
  background: url() fixed center no-repeat;
  background-size: cover;
}

table { 
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

button {
  border: none;
  background: none;
  font-family: "Times New Roman";
  font-size: 30px;
}

button:hover {
  color: grey;
}

button:focus {
  outline: none;
}

.xBud {
  background: url(http://www.clipartbest.com/cliparts/yik/bLe/yikbLekiE.gif) center no-repeat;
   background-size: 80px 60px;
}

.oBud {
  background: url(http://www.picgifs.com/alphabets/alphabets/dancing-1/alphabets-dancing-1-883248.gif) center no-repeat;
  background-size: 80px 60px;
}
